.corpo__titulo {
    text-align: center;
    margin: 15px;
    font-size: 30px;
    font-weight: bold;  
}


.corpo__livro-conteudo {
    margin-top: 30px;
    height: 160px;
}

.corpo__imagem {
    width: 100px;
	margin: 0 20px 20px 20px;
    float: left;
    top: 0%;   
}

.corpo__lista {
    display: inline;
}
.corpo__descricao{
    padding-left: 20px;
    font-size: 20px; 
}


.corpo__item {
    font-weight: bold;

}